@model int
<a asp-controller="cart" asp-action="index" class="btn px-0 ml-3">
    <i class="fas fa-shopping-cart text-primary"></i>
    @if (Model > 0)
    {
        <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">@Model</span>
    }

</a>