h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    font-size: 40px;
    background-color: yellow;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
