@model ContactInfo
<div class="card text-center">
    <div class="card-header">
        @Model.City
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Email</h5>
        <p class="card-text">@Model.PhoneNumber</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary">
        2 days ago
    </div>
</div>